/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  body {
    padding: 0;
  }
}

/* Below 992px (Tablets) */

@media (max-width: 62em) {
  html {
    font-size: 50%;

    .leaflet-popup {
      max-width: 25rem;
    }
  }
}

/* Below 768px (Smaller Tablets) */

@media (max-width: 48em) {
  html {
    font-size: 43%;

    .sidebar {
      padding-inline: 2rem;
      flex-basis: 40rem;
    }
  }
}

/* Below 576px (Mobile Phones) */

@media (max-width: 36em) {
  html {
    font-size: 37.5%;
  }
}

/* Below 450px (Smaller Mobile Phones) */

@media (max-width: 28em) {
  html {
    font-size: 31.25%;
  }
}
